body{
    background-image: url(./loan-advise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#loancal {
    max-width: 800px;
    height: auto;
    background-color:rgba(255, 117, 117, 0.651);
    color: #fff;
    margin: 10% auto;
    text-align: center;
    padding: 5%;
}

p{
    font-size: 20px;
}

#months, #amount, #interest_rate{
    width: 175px;
    height: 20px;
}

#interest_rate {
    margin-left: 2px;
}

h1 {
    font-size:40px;
}